<div>
  <div class="list-problems_user_title list-problems">{{ 'PROBLEM-USER' | translate }}
    <label class="list-problems_title list-problems_label"><input ng-model="search.user" placeholder="{{ 'PROBLEM-USER' | translate }}" class="list-problems__input"></label><br/>
  </div>
  <div class="list-problems_defaultwidth_title list-problems">{{ 'PROBLEM-NUM-POSTE-DA' | translate }}
    <label class="list-problems_title list-problems_label"><input ng-model="search.numPosteDA" placeholder="{{ 'PROBLEM-NUM-POSTE-DA' | translate }}" class="list-problems__input"></label><br/>
  </div>
  <div class="list-problems_defaultwidth_title list-problems">{{ 'PROBLEM-ADRESS-IP' | translate }}
    <label class="list-problems list-problems_title list-problems_label"><input ng-model="search.adresseIPSopra" placeholder="{{ 'PROBLEM-ADRESS-IP' | translate }}" class="list-problems__input"></label><br/>
  </div>
  <div class="list-problems_defaultwidth_title list-problems">{{ 'PROBLEM-TYPE' | translate }}
    <label class="list-problems list-problems_title list-problems_label"><input ng-model="search.typeProbleme" placeholder="{{ 'PROBLEM-TYPE' | translate }}" class="list-problems__input"></label><br/>
  </div>
  <div class="list-problems_textarea_title">{{ 'PROBLEM-COMMENT' | translate }}
    <label class="list-problems_title list-problems_label"><input ng-model="search.commentaire" placeholder="{{ 'PROBLEM-COMMENT' | translate }}" class="list-problems__input"></label><br/>
  </div>
  <div class="list-problems_inline">
    <div class="list-problems_min_date">
      <div>{{'MIN-DURATION' | translate}}</div>
      <div>
        <div class="list-problems-div_date-duration">
          <label class="list-problems-input_date-duration"><input ng-model="minDuration" placeholder="{{ 'PROBLEM-DURATION' | translate }}" class="list-problems__input"></label><br/>
        </div>
        <div class="list-problems-div_date-unit">
          <select name="unitMin" id="unitMin" ng-model="unitMin" style="display:inline-block;">
            <option value="s">{{'SECONDS-UNIT' | translate}}</option>
            <option value="m">{{'MINUTES-UNIT' | translate}}</option>
            <option value="h">{{'HOURS-UNIT' | translate}}</option>
          </select><br>
        </div>
      </div>
    </div>
    <div class="list-problems_max_date">
      <div>{{'MAX-DURATION' | translate}}</div>
      <div  class="list-problems-div_date-duration">
        <label class="list-problems-input_date-duration"><input ng-model="maxDuration" placeholder="{{ 'PROBLEM-DURATION' | translate }}" class="list-problems__input"></label><br/>
      </div>
      <div class="list-problems-div_date-unit">
        <select name="unitMax" id="unitMax" ng-model="unitMax" style="display:inline-block;">
          <option value="s">{{'SECONDS-UNIT' | translate}}</option>
          <option value="m">{{'MINUTES-UNIT' | translate}}</option>
          <option value="h">{{'HOURS-UNIT' | translate}}</option>
        </select><br>
      </div>
    </div>
  </div>
  <div class="list-problems_inline list_problems-date">
    <div flex-gt-xs="">
      <md-datepicker ng-model="minDate" md-placeholder="{{'MIN-DATE' | translate}}"></md-datepicker>
    </div>
    <div flex-gt-xs="">
      <md-datepicker ng-model="maxDate" md-placeholder="{{'MAX-DATE' | translate}}"></md-datepicker>
    </div>
  </div>
</div>

<div ng-repeat="x in problems | filter:search | periodDate:minDate:maxDate | periodDuration:minDuration:maxDuration:unitMin:unitMax"  class="list-problems list-problems_list">
  <div class="list-problems_user list-problems">{{x.user}}</div>
  <div class="list-problems_defaultwidth list-problems">{{x.numPosteDA}}</div> 
  <div class="list-problems_defaultwidth list-problems">{{x.adresseIPSopra}}</div>
  <div class="list-problems_defaultwidth list-problems">{{x.typeProbleme}}</div>
  <div class="list-problems_textarea list-problems">{{x.commentaire}}</div>
  <div class="list-problems_defaultwidth list-problems">{{x.duree | timeDisplayed}}</div>
  <div class="list-problems_defaultwidth list-problems">{{x.date | date}}</div>
  <div class="cross list-problems_cross" ng-click="ondelete(x)"></div>
</div>
