<div>
  <md-input-container  class="list-problems_user list-problems">
    <label>{{ 'PROBLEM-USER' | translate }}</label>
    <input ng-model="search.user">
  </md-input-container>
  <md-input-container class="list-problems_defaultwidth list-problems">
    <label>{{ 'PROBLEM-NUM-POSTE-DA' | translate }}</label>
    <input ng-model="search.numPosteDA">
  </md-input-container>
  <md-input-container class="list-problems_defaultwidth list-problems">
    <label>{{ 'PROBLEM-ADRESS-IP' | translate }}</label>
    <input ng-model="search.adresseIPSopra">
  </md-input-container>
  <md-input-container class="list-problems_defaultwidth list-problems">
    <label>{{ 'PROBLEM-TYPE' | translate }}</label>
    <input ng-model="search.typeProbleme">
  </md-input-container>
  <md-input-container class="list-problems_textarea list-problems">
    <label>{{ 'PROBLEM-COMMENT' | translate }}</label>
    <input ng-model="search.commentaire">
  </md-input-container>
  <div class="list-problems_durations">
    <div class="list-problems__first-duration">
      <md-input-container>
        <label>{{'MIN-DURATION' | translate}}</label>
        <input ng-model="minDuration" class="md-input-container__input">
      </md-input-container>
      <div class="list-problems-div_date-unit">
        <md-select ng-model="unitMin" class="md-no-underline" placeholder="Unité">
          <md-option value="s">{{'SECONDS-UNIT' | translate}}</md-option>
          <md-option value="m">{{'MINUTES-UNIT' | translate}}</md-option>
          <md-option value="h">{{'HOURS-UNIT' | translate}}</md-option>
        </md-select>
      </div>
    </div>
    <div class="list-problems__second-duration">
      <md-input-container>
        <label>{{'MAX-DURATION' | translate}}</label>
        <input ng-model="maxDuration">
      </md-input-container>
      <div class="list-problems-div_date-unit">
        <md-select ng-model="unitMin" class="md-no-underline" placeholder="Unité">
          <md-option value="s">{{'SECONDS-UNIT' | translate}}</md-option>
          <md-option value="m">{{'MINUTES-UNIT' | translate}}</md-option>
          <md-option value="h">{{'HOURS-UNIT' | translate}}</md-option>
        </md-select>
      </div>
    </div>
  </div>
  <div class="list-problems_dates">
    <div flex-gt-xs="">
      <md-datepicker ng-model="minDate" md-placeholder="{{'MIN-DATE' | translate}}"></md-datepicker>
    </div>
    <div flex-gt-xs="">
      <md-datepicker ng-model="maxDate" md-placeholder="{{'MAX-DATE' | translate}}"></md-datepicker>
    </div>
  </div>
</div>

<div ng-repeat="x in problems | filter:search | periodDate:minDate:maxDate | periodDuration:minDuration:maxDuration:unitMin:unitMax"  class="list-problems list-problems_list">
  <div class="list-problems_user list-problems">{{x.user}}</div>
  <div class="list-problems_defaultwidth list-problems">{{x.numPosteDA}}</div> 
  <div class="list-problems_defaultwidth list-problems">{{x.adresseIPSopra}}</div>
  <div class="list-problems_defaultwidth list-problems">{{x.typeProbleme}}</div>
  <div class="list-problems_textarea list-problems">{{x.commentaire}}</div>
  <div class="list-problems_defaultwidth list-problems">{{x.duree | timeDisplayed}}</div>
  <div class="list-problems_defaultwidth list-problems">{{x.date | date}}</div>
  <div class="cross list-problems_cross" ng-click="ondelete(x)"></div>
</div>
