<div class="types-problems_creation-input">
  <my-custom-input val="valtypeproblem" label="{{labeltypeproblem}}" placeholder="{{placeholdertypeproblem}}"></my-custom-input>

  <my-duration val="valduree" unit="unit" setvalue="setvalue" label="{{labelduree}}" placeholder="{{placeholderduree}}" class="creation-type-probleme__my-duration"></my-duration>

  <my-button onclick="onclick" btn-label="{{'BUTTON-CREATE' | translate}}" btn-width="" btn-height="" class="padding-top-button-posteda"></my-button>
</div>
