.custom-header {
  z-index: 10;
  width: 100%;
  height: 90px;
  background-color: $header-background; 
  font-size: 1em;
  text-align: center; 
  font-weight:600;

  .custom-header_title {
    color: $grey-button-color;
    font-family: Lato,sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
  }

}

.menu-vertical {
  width: 950px; 
  list-style: none; 
  padding: 4px;
  margin: 0; 
  background: #F2F2F2;
}

.hover-background {
  background: #1ABC9C;
  color: #FFF;
  padding-left: 30px;
}

.inactive {
  background-color: #37474f;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  float:left;
}

