<header class="custom-header">
  <div class="custom-header_title">{{ headerTitle }}</div>
  <div class="menu-vertical">
    <my-header-link val="valproblems" label="{{'PROBLEMS-HEADER' | translate}}" url="http://localhost:3000/#/" class="inactive"></my-header-link>
    <my-header-link val="valposteda" label="{{'POSTES-DA-HEADER' | translate}}" url="http://localhost:3000/#/poste-da" class="inactive"></my-header-link>
    <my-header-link val="vallistproblems" label="{{'PROBLEMS-TYPE-HEADER' | translate}}" url="http://localhost:3000/#/types-problems" class="inactive"></my-header-link>
    <my-header-link val="valallproblems" label="{{'ALL-PROBLEMS-HEADER' | translate}}" url="http://localhost:3000/#/all-problems" class="inactive"></my-header-link>
    <my-header-link val="valcsv" label="{{'DOWNLOAD-CSV' | translate}}" url="{{csvUrl}}" class="inactive header__header-link_download"></my-header-link>
  </div>

</header>
