<div class="input-duration">
  <my-custom-input val="val" label="{{label}}" fct="computetime" ng-keypress="checknumber($event)" placeholder="{{placeholder}}"></my-custom-input>
  <div class="duration-radio__container" ng-class="unit">
    <ul>
      <li>
        <input type="radio" ng-model="unit" id="{{ 'SECONDS-UNIT' | translate }}" value="{{ 'SECONDS-UNIT' | translate }}" name="timeunit" ng-change="computetime(val)" class="input-duration__input"/>
        <label for="{{ 'SECONDS-UNIT' | translate }}"  class="input-duration__input__label">{{ 'SECONDS-DURATION' | translate }}</label> 
        <div class="check"></div>
      </li></br>
      <li>
        <input type="radio" ng-model="unit" id="{{ 'MINUTES-UNIT' | translate }}" value="{{ 'MINUTES-UNIT' | translate }}" name="timeunit" ng-change="computetime(val)" class="input-duration__input"/>
        <label for="{{ 'MINUTES-UNIT' | translate }}" class="input-duration__input__label">{{ 'MINUTES-DURATION' | translate }}</label> 
        <div class="check"></div>
      </li></br>
      <li>
        <input type="radio" ng-model="unit" id="{{ 'HOURS-UNIT' | translate }}" value="{{ 'HOURS-UNIT' | translate }}" name="timeunit" ng-change="computetime(val)" class="input-duration__input"/>
        <label for="{{ 'HOURS-UNIT' | translate }}" class="input-duration__input__label">{{ 'HOURS-DURATION' | translate }}</label> 
        <div class="check"></div>
      </li>
    </ul>
  </div>

</div>
