body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $background-color;
  color: $primary-color;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

.block {
  display: block;
}

.right {
  float: right; 
}

.left {
  float: left; 
}
