body {
  margin: 0;
  background: $background-color;
  color: $primary-color;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  height: initial;
}

.block {
  display: block;
}
