.cross{
  
  width: 100px;
  height: 100px;
  border-radius: 50% 50%;
  display:inline-block;
  position: relative;
  margin-bottom:-45px;

  &::before{
    background: #888;
    position: absolute;
    display:inline-block;
    content:'';
    height: 6%;
    left: 15%;
    top: 47%;
    width: 40%;
    transform: rotate(45deg);
  } 
  &::after{
    background: #888;
    position: absolute;
    display:inline-block;
    content:'';
    height: 39%;
    left: 33%;
    top: 30%;
    width: 6%;
    transform: rotate(45deg);
  } 
    
  &:hover {

      &::before{
          background: #fff;
        }
    &::after{
          background: #fff;
        }
    color: #fff;
    cursor: pointer;
    } 
}

.list-poste-da {
  color: #AAA;
  width: 100%;
  font-size: 1.25em;
}
