<my-header header-title="{{ 'POSTES-DA-TITLE' | translate}}" first-button-label="{{ 'PROBLEMS-TITLE' | translate }}" second-button-label="{{ 'POSTES-DA-TITLE' | translate }}" third-button-label="{{ 'PROBLEMS-TYPE-TITLE' | translate }}" path-header="{{'PATH-PROBLEMS' | translate }}"></my-header>
<my-input-poste-da val="numPosteDa" fct="oncreate"></my-input-poste-da>
<my-postes-da postes-da="postesDa" ondelete="ondelete"></my-postes-da>
<!-- <my-button onclick="active" btn-label="Create Line" btn-width="" btn-height="" class="block"></my-button> -->
<my-loader start="start" stop="stop"></my-loader>
