<my-header header-title="{{ 'PROBLEMS-TYPE-TITLE' | translate }}" path-header="{{'PATH-POSTE-DA' | translate }}"></my-header>
<my-creation-type-probleme valduree="dureeAdded" valtypeproblem="typeProblemeAdded" onclick="onclick" placeholderduree="{{'DURATION-CREATION' | translate}}" placeholdertypeproblem="{{'TYPE-PROBLEME-CREATION' | translate}}" labelduree="{{'DURATION-CREATION' | translate}}" labeltypeproblem="{{'TYPE-PROBLEME-CREATION' | translate}}" durationAdded="durationAdded" unit="unitAdded" unitAdded="unitAdded"></my-creation-type-probleme>
<my-radiolist-type-problems problems-formatted="problemsFormatted" ondelete="ondelete"></my-radiolist-type-problems>
<my-loader start="start" stop="stop"></my-loader>

